/node_modules\n.env\n/dist\n/build\n*.log\nnpm-debug.log*\n.idea/\n.vscode/\n*.swp\n*.swo\n.DS_Store\n.DS_Store?\n._*\n.Spotlight-V100\n.Trashes\nehthumbs.db\nThumbs.db
node_modules

# Environment Variables
.env
.env.*
src/bot/.env
web/web/.env
